img{
 	border: 7px #e2e2e2 solid;
 }

/*---------------------- nav -------------------*/

.nav-bar {
	position: fixed;
	width: 20%;
	height: 100%;
	background-color: green;
}

.nav-bar .tab {
	width: 100%;
	padding: 10px 0 10px 0;
	text-align: center;
	color: #f3f3f3;
	font-family: American Typewriter, serif;
	font-size: 13px;
	line-height: 27px;
	background-color: purple;
}

/*---------------------- main -------------------*/

.main {
	width: 75%;
	margin-left: 25%;
	background-color: 
}

.main-title {
	font-size: 25px;
	font-weight: bold;
	color: #545454;
	float: left;
}